.swiper-thumbs {
  margin-block: 10px;
  cursor: pointer;
}

.swiper-slide-thumb-active {
  border: 2px solid rgb(88, 88, 88);
  opacity: 0.7;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(0, 0, 0);
  background-color: hsla(0, 0%, 87%, 0.5);
  padding: 30px;
  border-radius: 50%;
}

.swiper-pagination-bullet {
  opacity: 100%;
  background-color: hsl(0, 0%, 92%);
  border: 1px solid rgb(56, 56, 56);
}

.swiper-pagination-bullet-active {
  background-color: rgb(56, 56, 56);
}
